img {
	 width: 30%;
	 float: left;
	 margin: auto;
}

p{
	font-family: raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight:800;
	text-transform: capitalize;
	border-bottom: 3px solid gray;
	width: 30%;
}